<% if params[:index] == "follower" %>
  <h1>Follower Users</h1>
<% else %>
  <h1>Follow Users</h1>
<% end %>
<% @users.each do |user| %>
  <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>
  <h4>ユーザー名</h4>
    <p><%= user.name %></p>
  <h4>ランク</h4>
    <p><%= user.rank_status %></p>
  <h4>フォロー</h4>
    <p>フォロー数：<%= link_to user.follower.count, user_relationships_path(user_id: user.id, index: "follower") %></p>
    <P>フォロワー数：<%= link_to user.followed.count, user_relationships_path(user_id: user.id, index: "followed") %></P>
    <% if current_user != user %>
      <% if current_user.following?(user) %>
        <%= link_to "フォローを外す", user_relationships_path(user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(user.id), method: :POST %>
      <% end %>
    <% end %>
    <p><%= link_to "show", user_path(user) %></p>
<% end %>
