<h1>edit</h1>
<h2>食事記録</h2>
<% @meal_records.each do |meal| %>
  <p><%= meal.intake_status %></p>
  <h4>タイトル</h4>
    <p><%= meal.title %></p>
  <h4>内容</h4>
    <p><%= meal.body %></p>
<%= link_to "編集", edit_meal_record_path(meal) %>
<%= link_to "削除", meal_record_path(meal), method: :delete %>
<% end %>

<%= link_to "追加する", new_meal_record_path(id: @diary.id) %>

<%= form_with model: @diary, local: true do |f| %>

  <h3>メモ</h3>
  <%= f.text_area :remark %>

  <%= f.fields_for @body_weight do |weight| %>
  <h3>体重</h3>
  <%= weight.number_field :weight_record, min: 0 %>
  <% end %>

  <h3>活動量</h3>
  <%= f.select :activity_status, Diary.activity_statuses.keys.to_a, prompt: "選択してください" %>

  <%= f.submit "更新する" %>

<% end %>

