<h1>新規投稿</h1>

<%= form_with model: @diary, local: true do |f| %>
<!-- エラーメッセージの部分テンプレート(f.objectで@diaryをmodelに渡す) -->
<%= render 'layouts/error_messages', model: f.object %>

  <h3>日付</h3>
  <%= f.date_field :created_on %>


  <h3>メモ</h3>
  <%= f.text_area :remark %>

  <%= f.fields_for @body_weight do |f| %>

  <h3>体重</h3>
  <%= f.number_field :weight_record, min: 0 %>
  <% end %>

  <h3>活動量</h3>
  <%= f.select :activity_status, Diary.activity_statuses.keys.to_a, prompt: "選択してください" %>

  <h3>タグ</h3>
  <%= f.text_field :tag_list, value: @diary.tag_list.join(',') %>

  <%= f.submit "食事記録を作成する" %>

<% end %>

