<div class="main container">
  <div class="form edit">
    <div class="row">
      <div class="col-xs-12 center">
        <h1>日記作成画面</h1>
        <%= form_with model: @diary, local: true do |f| %>
        <!-- エラーメッセージの部分テンプレート(f.objectで@diaryをmodelに渡す) -->
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="form-group row">
          <div class="col-xs-2 col-xs-offset-5 diary-form1">
            <%= f.label :日付 %><br>
            <%= f.date_field :created_on, class: "form-control" %>
          </div>
        </div>

        <%= f.fields_for @body_weight do |f| %>
        <div class="form-group row">
          <div class="col-xs-2 col-xs-offset-5 diary-form1">
            <%= f.label :体重 %><br>
            <%= f.number_field :weight_record, min: 0, class: "form-control" %>
            <% end %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-4 col-xs-offset-4 diary-form2">
            <%= f.label :メモ %><br>
            <%= f.text_area :remark, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-4 col-xs-offset-4 diary-form1">
            <%= f.label :活動量 %><br>
            <%= f.select :activity_status, Diary.activity_statuses.keys.to_a, prompt: "選択してください", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-4 col-xs-offset-4 diary-form2">
            <%= f.label :タグ %><br>
            <%= f.text_field :tag_list, value: @diary.tag_list.join(','), class: "form-control", placeholder: "複数入力の場合カンマ(,)区切り" %>
          </div>
        </div>
        <div class="action">
          <%= f.submit "食事記録を追加する", class: "btn btn-success" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>