<h2>日付</h2>
  <p><%= @diary.created_on %></p>

<h2>食事記録</h2>
<% @meal_records.each do |meal| %>

  <p><%= meal.intake_status %></p>

  <h4>タイトル</h4>
    <p><%= meal.title %></p>

  <h4>内容</h4>
    <p><%= meal.body %></p>

<% end %>

<h2>メモ</h2>
  <p><%= @diary.remark %></p>

<h2>活動量</h2>
  <p><%= @diary.activity_status %></p>

<%= link_to "編集", edit_diary_path(@diary.id) %>

<%= link_to "削除", diary_path(@diary), method: :delete %>

<div>
  <h2>コメント</h2>
  <div id= "comments_area">
    <!-- 投稿されたコメント一覧を表示するためのrender(部分テンプレート) -->
    <%= render partial: 'diary_comments/index', locals: { comments: @comments } %>
  </div>
  <% if user_signed_in? %>
    <!-- コメント入力欄を表示するためのrender(部分テンプレート) -->
    <%= render partial: 'diary_comments/form', locals: { diary: @diary, comment: @comment } %>
  <% end %>
</div>

