<h2>食事記録</h2>

<% @meal_records.each do |meal| %>
  <p><%= meal.intake_status %></p>
  <h4>タイトル</h4>
    <p><%= meal.title %></p>
  <h4>内容</h4>
    <p><%= meal.body %></p>
<% end %>

<h2>メモ</h2>
  <p><%= @diary.remark %></p>

<h2>活動量</h2>
  <p><%= @diary.activity_status %></p>

<%= link_to "編集", edit_diary_path(@diary.id) %>

<%= link_to "削除", diary_path(@diary), method: :delete %>
