<div class="login container">
  <div class="row">
    <div class="col-xs-12 center">
      <h2>管理者画面</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= f.label :ユーザー名 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :情報を保存する %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-success" %>
      </div>
      <% end %>
      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>
