<div class="form edit">
  <div class="row">
    <div class="col-xs-12 center">
      <h1 class="new_meal">食事記録画面</h1>
      <div class="col-xs-4 col-xs-offset-2">
        <%= attachment_image_tag @meal_record, :meal_image, size: "150x150", class: "img-rounded", fallback: "no_image1.jpg" %>
      </div>
      <div class="col-xs-4 title">
        <h3><%= @meal_record.diary.created_on.strftime('%Y年%m月%d日') %>の<%= @meal_record.intake_status %></h3>
        <h3>タイトル</h3>
          <p><%= @meal_record.title %></p>
        <h3>内容</h3>
          <p><%= simple_format(@meal_record.body) %></p>
      </div>
    </div>
  </div>
</div>
