<div class="row">
  <div class="col-xs-12">
    <h1>日記一覧</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>会員名</th>
          <th>日付</th>
          <th>タグ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @diaries.each do |diary| %>
        <tr>
          <th><%= diary.id %></th>
          <td><%= diary.user.name %></td>
          <td><%= diary.created_on.strftime("%Y-%m-%d") %></td>
          <td><%= render "diaries/tag_list", tag_list: diary.tag_list %></td>
          <td><%= link_to "詳細", admins_diary_path(diary), class: "btn btn-info" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="center">
    <%= paginate @diaries, class: "paginate" %>
  </div>
</div>

