<div class="form edit">
  <div class="row">
    <div class="col-xs-12 center">
      <h1 class="new_meal">編集画面</h1>
      <%= form_with model: @topic, url:admins_topic_path, local: true do |f| %>
      <!-- エラーメッセージの部分テンプレート(f.objectで@meal_recordをmodelに渡す) -->
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group row">
        <div class="col-xs-4 col-xs-offset-2">
          <%= attachment_image_tag @topic, :topic_image, size: "150x150", class: "img-rounded", fallback: "no_image1.jpg" %>
          <%= f.attachment_field :topic_image %>
        </div>
        <div class="col-xs-4 title">
          <%= f.label :タイトル %><br>
          <%= f.text_field :title, autofocus:true, autocomplete: "title", class: "form-control" %>
          <div class="form-group row">
            <div class="col-xs-12">
              <%= f.label :内容 %><br>
              <%= f.text_area :body, autocomplete: "body", class: "form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <%= f.label :ジャンル %><br>
              <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "選択してください", class: "form-control" %>
            </div>
          </div>
          <%= f.submit "更新する", class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="back center">
    <%= link_to "戻る", :back, class: "btn btn-info btn-sm" %>
  </div>
</div>



