<!DOCTYPE html>
<html>
  <head>
    <title>e-diet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダーの記述-->
    <header>
      <nav>
        <ul>
          <!-- if文でサインインとサインアウトじの表示を変更 -->
          <% if user_signed_in? %>
          <li><%= current_user.name %></li>
          <li><%= link_to "diaries", diaries_path %></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "signup", new_user_registration_path %></li>
          <li><%= link_to "login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <!--ヘッダーの記述-->
    <%= yield %>
  </body>
</html>
