<!DOCTYPE html>
<html>
<head>
  <title>e-diet</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/cb0f9e906d.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!--ヘッダーの記述-->
  <header class="navbar navbar-fixed-top mb-2">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <a class="navbar-brand" href="#">e-diet</a>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <!-- if文でuser,admin,gestuser時の表示を分岐 -->
          <!-- user -->
          <% if user_signed_in? %>
            <li class= "nav-item"><%= link_to current_user.name, user_path(current_user) %></li>
            <li class= "nav-item"><%= link_to "topics", topics_path %></li>
            <li class= "nav-item"><%= link_to "users", users_path %></li>
            <li class= "nav-item"><%= link_to "diaries", diaries_path %></li>
            <li class= "nav-item"><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
          <!-- admin -->
          <% elsif admin_signed_in? %>
            <li class= "nav-item">管理者</li>
            <li class= "nav-item"><%= link_to "topics", admins_topics_path %></li>
            <li class= "nav-item"><%= link_to "users", admins_users_path %></li>
            <li class= "nav-item"><%= link_to "diaries", admins_diaries_path %></li>
            <li class= "nav-item"><%= link_to "logout", destroy_admin_session_path, method: :delete %></li>
          <!-- gest -->
          <% else %>
            <li class= "nav-item"><%= link_to "about", home_about_path %></li>
            <li class= "nav-item"><%= link_to "topics", topics_path %></li>
            <li class= "nav-item"><%= link_to "users", users_path %></li>
            <li class= "nav-item"><%= link_to "diaries", root_path %></li>
            <li class= "nav-item"><%= link_to "signup", new_user_registration_path %></li>
            <li class= "nav-item"><%= link_to "login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <!-- userによりデザインを分岐表示 -->
  <% if admin_signed_in? %>
    <div class="admin container">
  <% else %>
    <div class="container">
  <% end %>
    <!-- メッセージの表示 -->
    <% if notice %>
      <p class="alert"><%= notice.html_safe %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
